body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 15px;
    background: #f7f7f7;
}

h2 {
    margin-bottom: 15px;
}

#fileInput {
    margin: 15px 0;
}

#previewContainer {
    margin-top: 10px;
}

#preview {
    max-width: 90%;
    border-radius: 10px;
    margin-bottom: 15px;
}

button {
    padding: 10px 20px;
    border: none;
    background: #4CAF50;
    color: white;
    font-size: 16px;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#resultContainer {
    margin-top: 20px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    text-align: left;
    box-shadow: 0px 2px 5px #ccc;
}
